body {
  margin: 0;
  background: #151616;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

/* nav */
.navbar {
  border-bottom: var(--border);
  background-color: var(--bg);
  height: var(--nav-size);
  padding: 0 1em;
}

/* nav ul */
.navbar-nav {
  justify-content: flex-end;
  max-width: 100%;
  display: flex;
  height: 100%;
}

/* nav ul li */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}


.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  transition: filter 250ms ease-in-out;
  background-color: #484a4d;
  height: var(--button-size);
  width: var(--button-size);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  display: flex;
  padding: 5px;
  margin: 2px;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg,
.icon-right svg {
  fill: var(--text-color);
  height: 20px;
  width: 20px;
}

.dropdown {
  transition: height var(--speed) ease;
  border-radius: var(--border-radius);
  top: calc( var(--nav-size) - 2px);
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  position: absolute;
  overflow: hidden;
  padding: 1rem;
  width: 300px;
}

.menu {
  width: 100%;
}

.menu-item {
  transition: background var(--speed);
  border-radius: var(--border-radius);
  align-items: center;
  padding: 0.5rem;
  display: flex;
  height: 50px;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}

.menu-primary-enter {
  transform: translateX(-110%);
  position: absolute;
}

.menu-primary-enter-active {
  transition: all var(--speed) ease-in-out;
  transform: translateX(0%);
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transition: all var(--speed) ease-in-out;
  transform: translateX(-110%);
}

/* Secondary menu */
.menu-secondary-enter {
  transform: translateX(110%);
  position: absolute;
}

.menu-secondary-enter-active {
  transition: all var(--speed) ease-in-out;
  transform: translateX(0%);
}

.menu-secondary-exit-active {
  transition: all var(--speed) ease-in-out;
  transform: translateX(110%);
}